
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(/IMG/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.conteiner_header {
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    padding-top: 18px;
    margin-bottom: 55px;
}

.wrapper_header {
    display: flex;
    height: 24px;
    width: 1208px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.logo_header {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.part_right_header {
    display: flex;
    align-items: center;
}

.ul_img {
    display: flex;
    width: 126px;
    height: 24px;
    flex-shrink: 0;
    justify-content: space-between;
}

.right_text {
    display: flex;
    gap: 3px;
    margin-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.90);
    padding-left: 27px;
    padding-top: 2px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    align-items: center;
}

.link_head {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.logo_header:hover {
    color: #00DC00;
}

.item2:hover span,
.item4:hover span {
    color: #00DC00;
}

.ul_svg a:hover svg path {
    fill: #00DC00;
}


.wrapper_two {
    position: relative;
    width: 458px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    padding: 31px 60px 38px 60px;
}


.square {
    position: absolute;
    top: 29px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #3cb878;
}
  


.titels {
    display: flex;
    justify-content: space-between;
    width: 332px;
    height: 15px;
}

.log_in {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-top: 2px;
}

.log_in:hover {
    color: #01813F; 
    text-decoration: underline; 
}


.social_acount {
    display: flex;
    justify-content: space-between;
    width: 338px;
    margin-top: 15px;
    margin-bottom: 31px;
}

.social_button {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    align-items: center;
}


.facebook {
    background-color: #305DB8;
}

.google {
    background-color: #DF4A32;
}

.img_sa {
    margin-left: 11px;
    margin-top: 12px;
    width: 24px;
    height: 24px;
}

.vertical_line {
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background: #0A162F;
}

.social_button::after {
    content: ''; 
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
    width: 1px; 
    height: 28px;
    opacity: 0.1; 
    background: #0A162F; 
}

.button_text_sa {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 72px; 
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.social_button.facebook:hover {
    background-color: #022263; 
}

.social_button.google:hover {
    background-color: #AB1F09; 
}


.divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    width: 338px; 
    margin: 0 auto; 
}

.line {
    width: 50%; 
    height: 1px;
    color: #F2F2F2;
    margin: 0; 
}

.or-text {
    margin: 0 5px;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.name {
    margin-top: 11px;
}


.cap_input {
  color: #434343;
  width: 338px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  padding: 14px 0 14px 20px;
  margin-bottom: 15px;
}


.cap_input:hover {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}

.cap_input:focus {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    outline: none;
}

.agree {
    display: flex;
    align-items: center;
}

.text_Agree {
    margin-left: 8px;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}


.text_Terms {
    color: #3CB878;
}

.agree input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
}

.agree input[type="checkbox"]:checked ~ .text_Agree .text_Terms {
    color: #01813F; 
    text-decoration: underline; 
}


.button_create {
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    width: 100%;
    border: 0;
    margin-top: 20px;
}

.button_create:hover {
    background: #01813f;
    cursor: pointer;
}

.text_create {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}